td{
  vertical-align: middle;

}

img{
  object-fit: contain;

}

input[type="radio"]:checked+label {
  background:#b3b3b3 linear-gradient(to right, #fcb702, #fcb702) top left no-repeat;
  margin-left: 15px;
  -webkit-background-clip: text;
  color: transparent;

}

.bg-card{
  background-color:#ff7252;

}

.all-stars{
  display:inline-block;
  background:#b3b3b3 linear-gradient(to right, #fcb702, #fcb702) top left no-repeat;
  color: transparent;
  -webkit-background-clip: text;
  color: transparent;

}
